body {
    font-family: sans-serif;
    background-color: #acd1cb;
}

.navbar-nav {
    margin-right: 500px;
}

.navbar-brand {
    padding-left: 375px;
}

@media screen and (max-width: 640px) {
    .navbar-brand {
        padding-left: 0 !important;
    }
    .headshot {
        height: 200px;
        width: 150px;
    }
}

.container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.col-md-8,
#contact {
    background-color: white;
}

#aboutme {
    color: black;
}

.btn-custom {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 100;
    background-color: teal;
}

.text-block:link {
    color: white;
}

.text-block {
    position: absolute;
    text-align: center;
    top: 85%;
    background-color: #033a2e80;
    color: white;
    width: 60%;
    padding: 5px;
    margin-left: 20px;
}

.col-md-4 {
    padding: 20px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    margin-top: 50px;
    width: 100%;
    background-color: whitesmoke;
    color: black;
    text-align: center;
}

.footer-email {
    padding-left: 10px;
}