body {
    background-color: #85e7d280;
    font-family: sans-serif;
}

.navbar-brand {
    margin-left: 375px;
}

.navbar-nav {
    margin-right: 500px;
}

.container {
    margin-top: 50px;
}

.col-md-8,
#contact {
    background-color: white;
}

#aboutme {
    color: black;
}

.btn-custom {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 0;
    background-color: #09816d;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: whitesmoke;
    color: black;
    text-align: center;
    display: inline;
}

.email {
    padding: 20px;
}